/* Fuente base */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f6fa;
}

/* Header */
header {
    background: #a9c6f7;
    padding: 15px;
    text-align: center;
}

header img {
    width: 150px;
}

/* Título principal */
h1 {
    text-align: center;
    color: #002e75;
    margin-top: 20px;
}

/* Menú principal */

/* Menu horizontal */*
.menu {
    display: flex;
    justify-content: center;
    gap: 20px;          /* Separación entre los botones */
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #002d75;
    font-weight: bold;
    padding: 10px 15px;
    border: 2px solid #002e75;
    border-radius: 8px;
    transition: 0.3s;
}

.menu a:hover {
    background: #2063ce;
    color: white;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

/* Subtítulos */
h2 {
    color: #003a99;
    margin-left: 20px;
}
h3 {
    color: #0047b3;
    margin-left: 20px;
}

/* Párrafos */
p {
    margin: 10px 20px;
}
header{

    background-image: url(estudiantesfoto.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;}

    




hr {
    border: none;
    border-top: 1px solid #67b6e7;
    margin: 20px 0;
}

/* Footer */
footer {
    background: #0e3f87;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
iframe{
    display: block;
    margin: 0 auto;
}
